/* line 22, ../sass/colors.scss */
body {
  min-height: 100vh;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ecebeb;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

@media screen and (min-width: 1200px) {
  /* line 38, ../sass/colors.scss */
  body {
    font-size: 36px;
  }
}
/* line 42, ../sass/colors.scss */
.current {
  width: 360px;
  height: 120px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 50px;
  max-width: 80%;
}

/* line 48, ../sass/colors.scss */
.choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 57, ../sass/colors.scss */
.color {
  width: 360px;
  height: 120px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
/* line 63, ../sass/colors.scss */
.color:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 68, ../sass/colors.scss */
.red {
  background-color: red;
}

/* line 71, ../sass/colors.scss */
.green {
  background-color: #009900;
  color: #e7e7e7;
}

/* line 75, ../sass/colors.scss */
.blue {
  background-color: blue;
  color: #e7e7e7;
}

/* line 79, ../sass/colors.scss */
.yellow {
  background-color: yellow;
}

/* line 82, ../sass/colors.scss */
.skyblue {
  background-color: #29b6f6;
}

/* line 85, ../sass/colors.scss */
.pink {
  background-color: #ff99cc;
}

/* line 88, ../sass/colors.scss */
.purple {
  background-color: #ab47bc;
}

/* line 91, ../sass/colors.scss */
.brown {
  background-color: #8b4513;
  color: #e7e7e7;
}

/* line 95, ../sass/colors.scss */
.black {
  background-color: black;
  color: #e7e7e7;
}

/* line 99, ../sass/colors.scss */
.white {
  background-color: white;
}

/* line 102, ../sass/colors.scss */
.grey {
  background-color: grey;
}

/* line 105, ../sass/colors.scss */
.orange {
  background-color: #ff6600;
}

/* line 108, ../sass/colors.scss */
.burgundy {
  background-color: #800000;
}

/* line 111, ../sass/colors.scss */
.message {
  margin-top: 50px;
  text-shadow: 2px 2px 0px #fff, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* line 116, ../sass/colors.scss */
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 60px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #333333;
  color: #fff;
  font-size: 2vw;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}
/* line 130, ../sass/colors.scss */
.next:after {
  display: block;
  position: relative;
  margin-left: 180px;
  content: ' ';
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-left: 60px solid #333333;
  border-bottom: 60px solid transparent;
}
/* line 142, ../sass/colors.scss */
.next p {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 2vw;
}

@media screen and (min-width: 1000px) {
  /* line 153, ../sass/colors.scss */
  .next {
    font-size: 30px;
  }
  /* line 156, ../sass/colors.scss */
  .next p {
    margin-top: 15px;
  }
}
/* line 161, ../sass/colors.scss */
.exit {
  width: 360px;
  height: 120px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: none;
  margin: 0 auto;
  width: 180px;
  height: 60px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 2vw;
}
/* line 170, ../sass/colors.scss */
.exit:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 173, ../sass/colors.scss */
.exit:focus {
  outline: none;
}
/* line 177, ../sass/colors.scss */
.exit p {
  margin: 0;
}
