$maxwidth: 1200px;
$gradienColor: rgba(239, 254, 226, 0.7);
$textColorLight: #e7e7e7;

@mixin box {
	width: $maxwidth*0.3;
	height: $maxwidth*0.1;
	border: 1px solid #7f7f7f;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
@mixin box-hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
				0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin box-text-center {
	display: flex;
    align-items: center;
    justify-content: center;
}

body {
	min-height: 100vh;
	margin: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
	  		user-select: none;
	background-color: #ecebeb;
	//background-image: linear-gradient(to top left,$gradienColor 0%, adjust-hue($gradienColor, 72deg) 20%,adjust-hue($gradienColor, 144deg) 40%,adjust-hue($gradienColor, 216deg) 60%,adjust-hue($gradienColor, 288deg) 80%,$gradienColor 100%);
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 3vw;
	text-align: center;
	text-transform: uppercase;
	color: #131313;
}
@media screen and (min-width: 1200px) {
	body  {
		font-size: 36px;
	}
}
.current {
	@include box;	
	margin: 0 auto;
	margin-top: 50px;
}
.choose {
	display: flex;
	align-items: center;
	justify-content: space-between;	
	width: $maxwidth;
	max-width: 100%; 
	margin: 0 auto;
	margin-top: 50px;
}
.color {
	@include box;
	@include box-text-center;	
	margin: 10px;	
	cursor: pointer;

	&:hover {
		@include box-hover;
	}
}

.red {
	background-color: red;
}
.green {
	background-color: #009900;
	color: $textColorLight;
}
.blue {
	background-color: blue;
	color: $textColorLight;
}
.yellow {
	background-color: yellow;
}
.skyblue {
	background-color: #29b6f6;
}
.pink {
	background-color: #ff99cc;
}
.purple {
	background-color: #ab47bc;
}
.brown {
	background-color: #8b4513;
	color: $textColorLight;
}
.black {
	background-color: black;
	color: $textColorLight;
}
.white {
	background-color: white;
}
.grey {
	background-color: grey;
}
.orange {
	background-color: #ff6600;
}
.burgundy {
	background-color: #800000;
}
.message {
	margin-top: 50px;
	text-shadow: 2px 2px 0px #fff,
    			 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.next {
	@include box-text-center;
	position: relative;
	width: $maxwidth*0.3/2;
	height: $maxwidth*0.1/2;
	margin: 0 auto;
	margin-top: 50px;
	background-color: rgba(51,51,51,1);;
	color: #fff;
	font-size: 2vw;
	opacity: 0;
	cursor: pointer;
	pointer-events: none;

	&:after {
		display: block;
		position: absolute;
		left: $maxwidth*0.3/2;
		content: ' ';
		width: 0;
		height: 0;
		border-top: $maxwidth*0.1/2 solid transparent;
		border-left: $maxwidth*0.1/2 solid rgba(51,51,51,1);
		border-bottom: $maxwidth*0.1/2 solid transparent;
	}
}
@media screen and (min-width: 1000px) {
	.next  {
		font-size: 30px;
	}
}